body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    background-image: url(1.jpg), url(paper.gif);
}
/*untuk bagian atas*/
header{
    background-color:#008080;
    color:#FFFFFF;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    margin-right: 200px;
    margin-left: 200px;
}

header h1{
    text-transform: uppercase;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    margin-right: 200px;
    margin-left: 200px;

}

p {
    margin-top: 50px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-left:  200px;
    padding-left:10px;
    padding-top:0px;
    padding-bottom:0px;
    background-color:#808080;
    color:#FFFFFF;
    
    
}

nav{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: #5d5d5d;
    display: -webkit-box;

}

nav ul{
    margin:0px;
    padding:0px;
    list-style: none;

}

nav ul li{
    float: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 200px;
    margin-left:  200px;
    padding-top:0px;
    padding-bottom:0px;
    
}

nav ul li a{
    display: table;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover{
    background-color:#20B2AA;
}

article{
    padding: 10px;
}

/*untuk bagian bawah*/
footer{
    margin: 0px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left:10px;
    margin-right: 200px;
    margin-left: 200px;
    background-color: #008080;
    color: #ffffff;
    text-align: center;
    
}

/*css untuk halaman registrasi*/
label{
    display: block;
    margin-top:5px;
    margin-bottom:5px;
}
input, textarea, select, button{
    display: block;

}


button{
    margin-top : 50px;
    border: 1px solid #ebebeb;
    padding:7px;
}

/*css untuk halaman biodata*/

